
h1.headerbar
{
    display: none;
}

body #content .bodyContainer
{
    padding-top:0;
}

#page_characterSheet .feat 
{
    position: relative;
}

#page_characterSheet .feat_name
{
    margin-left:1.5em;
}

#page_characterSheet .feat_notesLink
{
    position: absolute;
    top:4px;
    left:0;
    font-size: 0;
}

#page_characterSheet .feat_notesLink:before
{
    content: '\25B2';
    font-size: 1rem;
}

#page_characterSheet .feat_notesLink.open:before
{
    content: '\25BC';
}

.avatarPreview
{
    position: absolute;
    top:10px;
    height:100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 5px;
}

body #content
{
    padding-top: 120px;
}