#charButtons
{
    margin-left:0.5em;
}
.rollForChar
{
    display: inline-block;
    margin: 0 .5em;
    background-color:#800;
    color:#fff;
    cursor: pointer;
    white-space: nowrap;
    font-size: 80%;
    padding:.25em .5em;
    border-radius: 6px;
}

.rollForChar.sel
{
    color:#800;
    border:solid 1px;
    background-color: transparent;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-style: none;
    z-index: 2;
    background-color: #fff;
    padding-bottom: 0.6em;

}

#charSheetRoller
{
    border:solid 1px #400;
    padding:10px;
    border-radius:0.5em;
    margin-top:-1px;
    z-index: 1;
}

#charSheetRoller h3
{
    color:#800;
    border-top:solid 1px;
}

.roller
{
    white-space: nowrap;
    display: inline-block;
    width:290px;
    margin-bottom: 1em;
}
.roller.skill
{
    width:210px;
}

.roller span
{
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}

.rollerInit span
{
    display:none;
}

.roller .rollSel
{
    display: inline-block;
    margin-left: 0;
    margin-right:1em;
}

.roller .rollSel li
{
    display: inline-block;
    border:solid 1px #888;
    border-right-width: 0;
    padding:.2em .5em;
    cursor: pointer;
}

.roller .rollSel li:first-of-type
{
    border-radius: 5px 0 0 5px;
}

.roller .rollSel li:last-of-type
{
    border-right-width: 1px;
    border-radius: 0 5px 5px 0;
}