.userHeat,.normUserHeat{white-space: nowrap;}
.userHeat .heat,.normUserHeat .heat{
    display:inline-block;
    width:2px;
    height:1em;
    background-color: transparent;
}
.userHeat .heat1{background-color: #9be9a8;}
.userHeat .heat2{background-color: #40c463;}
.userHeat .heat3{background-color: #30a14e;}
.userHeat .heat4{background-color: #216e39;}

.normUserHeat .heat1{background-color: #e99b9b;}
.normUserHeat .heat2{background-color: #c44040;}
.normUserHeat .heat3{background-color: #a13030;}
.normUserHeat .heat4{background-color: #6e2121;}


@keyframes pulse {
	0% {
		opacity: .8;
	}
	50% {
		opacity: .1;
	}

	100% {
		opacity: .8;
	}
}

.analysisWorking{
    animation: pulse 2s infinite;
    color:#ccc;
    opacity: .8;
}

.analysisComplete{
    color:#216e39;
}

.userAnalysis h3
{
    border-top:solid 1px #fff;
    margin-top: .5rem;
}

.userAnalysisLink
{
    color:#b00;
    cursor: pointer;
}

body.dark .userAnalysisLink
{
    color:#c54;
}