
.markItUpHeader ul .markItUpButtonSnippet > span
{
    margin-right: 6px;
    font-size: 80%;
    font-weight: bold;
    padding: 3px;
    color: #777;
}

.markItUpHeader ul li.markItUpButtonSnippet
{
    background-position: right center;
    cursor: pointer;
}

#fixedMenu li#fm_tools>.submenu,
#fixedMenu li#fm_characters>.submenu
{
    width:400px;
    padding: 1em;
}

#fixedMenu li#fm_tools>.submenu li
{
    margin-bottom: .5em;
}

#fixedMenu li#fm_tools>.submenu a
{
    text-decoration: none;
    
}

#fixedMenu li#fm_tools>.submenu h3
{
    border-bottom: solid 1px;
}

#fixedMenu li#fm_characters>.submenu p.username
{
    border-bottom: solid 1px rgba(255,255,255,.4);
}

#fixedMenu li#fm_characters>.submenu p.username a
{
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: .35em;
    text-decoration: none;
    font-family: AgencyFB;
    color:#fff;
}

#fixedMenu li#fm_characters>.submenu p.charName a
{
    text-decoration: none;
}

input[type=file].imageFileUpload
{
color:transparent;
background: transparent;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
  
}

input[type=file].imageFileUpload::before {
    content: 'Imgur';
    display: inline-block;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    color:#01B96B;
    font-size: 80%;
    font-weight: bold;
    background: transparent url(https://gamersplane.com/javascript/markItUp/sets/bbcode/images/picture.png) no-repeat center left;
    padding-left:20px;
  }
  
  input[type=file].imageFileUpload::-webkit-file-upload-button {
    visibility: hidden;
  }
